header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-top: 1px #CCCCCC;
}
.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}